<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Animate CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="resources/css/style.css" />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <title><%= titulo %></title>
</head>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="font-size: 13px">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"> <%= nombre_empresa %> </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <% switch (idRol) { case 1 : %>

                <li class="nav-item dropdown">
                    <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Auditoría
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item" href="/audit/employees">Empleados</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/audit/typesOfDocuments">Tipos de documentos</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/audit/users">Usuarios</a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Contabilidad
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item" href="/chartOfAccounts">Plan de cuentas</a>
                        </li>

                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Tablas
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item" href="/employees">Empleados</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/typesOfDocuments">Tipos de documentos</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/roles">Roles</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/users">Usuarios</a>
                        </li>
                    </ul>
                </li>

                <% break; case 2 : %>

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/users">Usuarios</a>
                </li>

                <% break; case 3 : %>

                <li class="nav-item dropdown">
                    <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Auditoría
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item" href="/audit/employees">Empleados</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/audit/typesOfDocuments">Tipos de documentos</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/audit/users">Usuarios</a>
                        </li>
                    </ul>
                </li>

                <% break; case 4 : %>

                <li class="nav-item dropdown">
                    <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Tablas
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item" href="/employees">Empleados</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/typesOfDocuments">Tipos de documentos</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/roles">Roles</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/users">Usuarios</a>
                        </li>
                    </ul>
                </li>

                <% break; } %>
            </ul>
        </div>
    </div>
    <div class="dropdown py-sm-2 px-3 mt-sm-auto ms-auto ms-sm-0 flex-shrink-1">
        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1"
            data-bs-toggle="dropdown" aria-expanded="false">
            <img src="/resources/images/stefano-profile.png" alt="hugenerd" width="28" height="28"
                class="rounded-circle">
            <span class="d-none d-sm-inline mx-1 px-1">
            </span>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
            <li><a class="dropdown-item" href="/logout">Cerrar sesión</a></li>
        </ul>
    </div>
</nav>

</html>